<footer class="footer">
    <div class="footerLeft">
        <div class="footerTopper animate floatDown" data-time="0.5" data-show-value="-200">

            <img src="/materials/images/carsonIcon.png" alt="" class="footerIcon">
            <h1 class="footerHeader">Carson Burke</h1>

        </div>
        <div class="footerCopyright animate floatDown" data-time="0.6" data-show-value="-200">© 2021</div>
    </div>
    <div class="footerContentContainer animate floatDown">
        <div class="footerContentChild animate floatDown" data-time="0.8" data-show-value="-200">

            <h3 class="footerContentHeader">Portfolio</h3>

            <a href="#" target="_blank" class="footerLink">Home</a>
            <a href="#" target="_blank" class="footerLink">My Projects</a>
            <a href="#" target="_blank" class="footerLink">Contact</a>

        </div>
        <div class="footerContentChild animate floatDown" data-time="1" data-show-value="-200">

            <h3 class="footerContentHeader">Web dev tools</h3>

            <a href="https://carsonburke.github.io/Scroller-JS-scroll-animation-framework/" target="_blank" class="footerLink">Scroller</a>
            <a href="https://carsonburke.github.io/Parallaxify-JS-parallax-framework/" target="_blank" class="footerLink">Parallax</a>

        </div>
        <div class="footerContentChild animate floatDown" data-time="1.2" data-show-value="-200">

            <h3 class="footerContentHeader">Other</h3>

            <a href="https://www.affairsandorder.com/" target="_blank" class="footerLink">Affairs and Order</a>
            <a href="https://www.affairsandorder.com/" target="_blank" class="footerLink">Support My Work</a>

        </div>
    </div>
</footer>

<script src="/materials/scroller.js"></script>
<script src="/materials/parallaxify.js"></script>
<script src="/materials/script.js"></script>

</body>

</html>