<!DOCTYPE html>
<html lang="en">

<head>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/materials/style.css">
    <title>Premium Organs |
        <%= page %>
    </title>
</head>

<body>

    <nav class="navbarparent" id="navbarparent">
        <div class="navsidebar">

            <div class="navsidebarbutton" id="navsidebarbutton" onclick="navbardivactivate()">

                <div class="bar1" id="bar1"></div>
                <div class="bar2" id="bar2"></div>
                <div class="bar3" id="bar3"></div>

            </div>
            <div class="navsidebarcontent" id="navsidebarcontent">

                <a href="/">Home</a>
                <a href="/information">Information</a>
                <% if (hasAccount != true) { %>
                    <a href="/#form">Signup</a>
                    <a href="/#form">Login</a>
                    <% } %>
                        <% if (hasAccount == true) { %>
                            <a href="/profiles/<%= userAccount.user_id %>">Account</a>
                            <% } %>

            </div>
        </div>

        <a class="navbartitle" href="/">
            <img class="navbartitleicon" src="/materials/images/landingImage.jpg" />
            <h1 class="navbartitlechild">Premium Organs</h1>
        </a>

        <div class="navtopbar">
            <div class="navtopbarlinks">

                <a href="/">Home</a>
                <a href="/information">Information</a>
                <% if (hasAccount != true) { %>
                    <a href="/#form">Signup</a>
                    <a href="/#form">Login</a>
                    <% } %>
                        <% if (hasAccount == true) { %>
                            <a href="/profiles/<%= userAccount.user_id %>">Account</a>
                            <% } %>

            </div>
            <div class="navtopbarextra">

                <a class="navtopbarprofile" href="/profiles/<%= userAccount.user_id %>"><span class="material-icons-outlined navtopbarprofileicon">
            account_circle
            </span></a>
            </div>
        </div>
    </nav>